/******************************************************************************
General
******************************************************************************/


@import "bourbon/bourbon", "neat/neat", "base/base";



/**************************************
Colors
**************************************/


//Generic Colors
$white: #efefef;
$black: #444;

//Color Uses
$bg: $white;
$bg-dark: $black;



/**************************************
Defaults
**************************************/



//Media Queries
$small: 320px;
$medium: 667px;
$large: 1104px;

$phone: $small;
$phone-ls: $medium;
$tablet: $large;

body {
	background: $bg;
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	@include clearfix;
}

.wrapper-content {
	width: 95%;
	margin: 0 auto;
	margin-top: 50px;
}

//Fonts

$sans-serif: "Raleway";

h1, h2, h3, h4, h5 {
	font-family: serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

p {
	font-family: $sans-serif, sans-serif;
}

.lead {
	font-size: 1.125em;
}

.text-muted {
	font-weight: 200;
	color: grey;
	a {
		color: grey;
		&:hover {
			color: darken(grey, 20%);
		}
	}
}



/**************************************
Footer
**************************************/



footer {
	position: static;
	margin-bottom: 0;
	width: 100%;
	p {
		font-weight: 200;
		text-align: center;
	}
}



/******************************************************************************
Navigation
******************************************************************************/



//Nav List
nav {
	z-index: 999;

	background: $bg-dark;
	font-family: $sans-serif, 'sans-serif';
	box-shadow: 0 8px 6px -6px #333;

	.nav-title {

		padding-top: 30px;
		text-align: center;
		font-size: 2.5em;

		a {
			color: $white;
			&:hover {
				color: darken($white, 20%);
			}
		}
		
	}
}
.navbar {
	text-align: center;

	padding-top: 15px;
	padding-bottom: 15px;
	
	li {
		display: inline-block;
		padding: 10px;
		a {
			color: $white;
			&:hover {
				color: darken($white, 20%);
			}
		}
	}
}



/******************************************************************************
Index.html
******************************************************************************/



.main-slider-bg {

	height: 500px;
	background: url(../img/sand.jpg) no-repeat center center fixed;
	background-size: cover;

}

.main-slider-overlay {
	background: transparent;
	margin: auto;
	padding-top: 50px;
	text-align: center;
}



/******************************************************************************
About
******************************************************************************/



.wrapper-about {

	img {
		border-radius: 15px;
	}

	h2 {
		text-align: center;
	}

	hr {
		@include span-columns(12);
	}

	.promo-info {
		@include outer-container;
	}
	
	.content-left {
		//Content on left side of screen
		@include span-columns(12);
		@media screen and (min-width: $phone-ls) {
			@include span-columns(8);	
		}
		
	}

	.content-right {
		//Content on right side of screen
		@include span-columns(12);

		@media screen and (min-width: $phone-ls) {
			@include span-columns(8);
			@include omega;	
		}

		
	}

	.img-left {
		//Image on left side of screen
		@include span-columns(12);

		@media screen and (min-width: $phone-ls) {
			@include span-columns(4);	
		}

		
	}

	.img-right {
		//Image on right side of screen
		@include span-columns(12);

		@media screen and (min-width: $phone-ls) {
			@include span-columns(4);
			@include omega;	
		}
	}

	.map {
		@include fill-parent;
	}
}



/******************************************************************************
Contact
******************************************************************************/



.wrapper-contact {
	margin-top: 50px;
	form {
		margin-bottom: 50px;
	}

	.contact-extra-section {
		@include outer-container;
	}

	.contact-extra {
		@include span-columns(12);
		text-align: center;
		@media screen and (min-width: $phone-ls) {
			@include span-columns(4);
		}
	}

	i {
		margin-bottom: 10px;
	}
}

.contact-submit {
	@include fill-parent;
}



/******************************************************************************
Donation
******************************************************************************/



.wrapper-donate {
	//background: steelblue;
	button {
		@include fill-parent;
		margin-bottom: 25px;
		//Media Query
		@media screen and (min-width: $tablet) {
			@include outer-container(75%);
		}
	}
	
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	li {
		height: 150px;
		width: 150px;
		margin: 15px;
		background: tomato;
		padding-left: 50px;
		a {
			text-align: center;
			color: $white;
			font-size: 1.125em;
		}
	}
}



/******************************************************************************
Mission
******************************************************************************/
